# Backend
backend/*.env
backend/battlezone
backend/tmp/

# Frontend
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# General
.env
*.log
.DS_Store
Thumbs.db

# Go
*.exe
*.test
*.prof
vendor/
